<include file="Public/head" />
	<style type="text/css">
	.title{
		height: 40px;
		line-height: 40px;
		font-size: 26px;
		text-align: center;

	}
		.htmlcontent{
			margin: 20px;
		}
	</style>
	<h4 class="title">{$json.title}</h4>
	<div class="container" id="htmlcontent">
		<div class="row">
            <!-- <div class="blgo-titlename col-xs-12 col-sm-4 col-md-3 col-lg-2">隔壁老王</div> -->

			<div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 col-sd-offset-1 col-md-offset-2 col-lg-offset-3">{$html}</div>
		</div>
	</div>



</body>
</html>