<!DOCTYPE html>
<html lang="en">
<head>
    <title>卢水的技术博客网站</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="卢水的技术博客，一个学习记笔记的网站，一个小网站，一个个人网站">
    <meta name="keywords" content="卢水, 前端开发, 个人博客,  博客, PHP开发, nodejs, HTML, CSS, JS, JavaScript, web development,">
    <meta name="author" content="卢水">
    <link rel="stylesheet" href="__PUBLIC__/css/style.css">
    <link rel="stylesheet" href="__PUBLIC__/css/bootstrap.min.css">
    <link rel="stylesheet" href="__PUBLIC__/css/web.css">
    <link rel="stylesheet" href="__PUBLIC__/layer/css/layui.css">
    <link rel="stylesheet" href="__PUBLIC__/loading/jquery.mloading.css">
    <script type="text/javascript" src="__PUBLIC__/js/jquery-2.1.4.min.js"></script>
    <script src="__PUBLIC__/loading/jquery.mloading.js"></script>
</head>
<body>
    <div id="warp" class="container">
        <div class="row">
            <header class="col-xs-12 col-sm-12 col-md-12 col-lg-12 header">
                <div class="row">
                    <div class="blgo-titlename col-xs-12 col-sm-4 col-md-3 col-lg-2">隔壁老王</div>
                    <div class="blgo-catename col-sm-8 col-md-9 col-lg-10">
                        <a>前端笔记</a>
                        <a>后端笔记</a>
                        <a>杂文趣事</a>
                        <a>自我介绍</a>
                    </div>
                </div>
            </header>
        </div>
    </div>